div.top {
    width: 100%;
    height: 12vh;
    background-color: #ddecf8;
    padding-top: 20px;
}

div.left2 {
    width: 20%;
    height: 85vh;
    background-color: #e2e2e2;
}

p.setTime {
    font-size: 12px;
}

span.add {
    font-size: 12px;
    float: right;
    margin: 10px;
}

span.titleText {
    font-size: 23px;
}

span.sideText {
    margin-top: 20x;
}