@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #E6F7FF;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

img {
  margin-top: 30px;
}

input {
  width: 500px;
  height: 30px;
  font-family: 'GmarketSansMedium';
  border-radius: 10px;
  border-color: #bbe4f7;
  background-image: url('../public/icons/user.png');
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

table {
  margin: auto;
}