@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #E6F7FF;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

img {
  margin-top: 30px;
}

input {
  width: 500px;
  height: 30px;
  font-family: 'GmarketSansMedium';
}

table {
  margin: auto;
}